/* Two-column layout */
.left-column {
  color: #777;
  width: 33%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 33%;
  float: right;
  padding-top: 1em;
}
.center-column {
  width: 33%;
  float: right;
  padding-top: 1em;
}